<div class="container">
  <div class="row">
    <div class="col">
        <% unless notice.blank? %>
        <div class="alert alert-success" id="notice"><%= notice %></div>
        <% end %>

        <p>
        <strong>Nombre:</strong>
        <%= @proyecto.nombre %>
        </p>

        <p>
        <strong>Imagen:</strong>
        <%= @proyecto.imagen %>
        </p>

        <p>
        <strong>Descripcion:</strong>
        <%= @proyecto.descripcion %>
        </p>

        <%= link_to 'Edit', edit_proyecto_path(@proyecto), class: "btn btn-primary" %> |
        <%= link_to 'Back', proyectos_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>